.abt-content {
    display: flex;
    float: row;
}
.abt-content img {
    width: 500px
}
.abt-content p {
    width: 80%;
    margin: auto;
    font-size: 18px;
    font-family: 'Source Sans Pro';
}
.about {
    margin-top: 100px
}
@media screen and (max-width: 800px) {
    .abt-content {
        display: block;
    }
    .abt-content img {
        width: 0px
    }
}