body {
    background-color: #816E9A;
}

.greeting {
    font-size: 96px;
    color: #382149;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-left: 300px;
    margin-bottom: 0;
}

.name {
    font-size: 96px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 300px;
    margin-top: 0;
    margin-bottom: 0;
}

.role {
    color: #FFFAFA;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 500px;
    margin-top: 0;
}

.intro {
    height: 90vh
}