body {
    background-color: #816E9A;
}

.greeting {
    font-size: 96px;
    color: #382149;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-left: 300px;
    margin-bottom: 0;
}

.name {
    font-size: 96px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 300px;
    margin-top: 0;
    margin-bottom: 0;
}

.role {
    color: #FFFAFA;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 500px;
    margin-top: 0;
}

.intro {
    height: 90vh
}

@media only screen and (max-width: 600px) {
    .intro {
        height: 50vh;
    }
    .greeting {
        font-size: 40px;
        margin-left: 130px
    }

    .name {
        font-size: 50px;
        margin-left: 130px
    }

    .role {
        font-size: 20px;
        margin-left: 190px
    }
}
