body {
    background-color: #F6F5F5;
}

.greeting {
    font-size: 96px;
    color: #EE6F57;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 100px
}

.name {
    font-size: 96px;
    font-weight: bold;
    color: #00334E;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 0 100px;
}

.role {
    color: #EE6F57;
    font-size: 34px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 300px;
    margin-top: 0;
}

.intro-grid {
    display: grid;
    grid-template-areas: "btn socials";
    grid-template-columns: 1fr 1fr;
}

.btn {
    grid-area: btn;
    width: 200px;
    height: 50px;

    background: #EE6F57;
    border-radius: 20px;
    margin-left: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    padding: 10px;
    text-decoration: none;
    color: #FEFAFA;
}

.socials {
    grid-area: socials;
    margin-left: 400px
}

.socials a {
    display: inline-block;
    border: 1px solid #145374;
    border-radius: 50%;
    margin: 10px;
    color: #145374;
    padding: 5px;
    width: 17px;
    height: 17px;
    line-height: 17px
}

.intro {
    height: 90vh
}

@media only screen and (max-width: 600px) {
    .intro {
        height: 35vh;
    }
    .greeting {
        font-size: 30px;
        margin-left: 30px
    }

    .name {
        font-size: 40px;
        margin-left: 30px
    }

    .role {
        font-size: 18px;
        margin-left: 50px
    }

    .btn {
        height: 30px;
        width: 100px;
        line-height: 30px;
        font-size: 14px;
        margin-left: 30px
    }

    .socials {
        margin-left:0;
    }
    
    .socials a {
        margin: 5px;
    }
}
