@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HeadlandOne';
    src: url('./src/assets/fonts/Headland One/HeadlandOne-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'CutiveMono';
    src: url('./src/assets/fonts/Cutive Mono/CutiveMono-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Cutive';
    src: url('./src/assets/fonts/Cutive/Cutive-Regular.ttf') format('ttf');
}